body {
    background-color: #2f3640;
    color: white;
    display: flex;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
}

.clicked {
    color: #7f8c8d;
}

.form,
.greetings {
    margin: 0 auto;
    display: none;
}

.form input {
display:block;
margin: 50px auto;
}

.content {
    margin: 250px auto;
    
}

h1 {
    margin: 10px;
    font-size: 1050%;
    letter-spacing: -5px;
    cursor: default;
}

h4 {
    margin: 10px;
    font-size: 337%;
    text-align: center;
    cursor: default;
}

input {
    border: none;
    border-bottom: 3px solid white;
    background-color: transparent;
    font-size: 2rem;
    color: white;
    padding: 0px;
    line-height: 1;
}

input:focus {
    outline: none;
}

input::placeholder{
    text-align: center;
    color: white;
}

.toDoWrapper {
    margin-top: 70px;
    margin-left: 120px;
    justify-content: flex-end;
}

.showing {
    display: block;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;   
 z-index: -1;
 animation: fadeIn 0.5s linear;
}

.js-weather {
    position: absolute;
    top:20px;
    right:50px;
    height: 100px;
}